.App {
  text-align: center;
}

#summary {
  padding-left: 3rem;
  padding-right: 3rem;
}

img {
  border: 2px solid black;
}

#project {
  border-top: 2px solid black;
  padding-left: 3rem;
  padding-right: 3rem;
}

footer {
  background:rgba(214,213,213,0.5);
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

